# Ignore anything in the /build directory, except the info file.
build/*
!build/this-directory-contains-external-components-of-this-build.txt

www/cache/normal
#!www/cache/index.html
#!www/cache/.htaccess

www/test.*

local_databases.php
local_settings.php

# Ignore PhpStorm config directories.
.idea

# Ignore SCSS cache files.
*.scssc

# Ignore Mac files, especially "Icon\r" files which make the baby Jesus cry...
# Ignore privatefiles.
privatefiles/*
.DS_Store

# The following three lines contain special characters to tell Git to ignore the
# Mac Icon files whose names contain a newline character (because Apple are
# idiots, sometimes, and I can say that because I'm an Apple fan, so nyer nyer).
Icon


# Do not change anything above this line after "The following lines...".

# Ignore the multisitemaker's configuration.php file and symlink.
# greyhead_multisitemaker
www/multisitemaker
